/* Add this to style.css */
.auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f4f4f4;
  }
  header .logo img {
    height: 250px;
    padding: 40px;
  }
  
  .auth-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background-color: #0056b3;
  }
  
  .auth-container p {
    margin-top: 20px;
  }
  
  .auth-container a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  
  
  